html {
	font-size: 75%;
}

body {
	padding: 60px 10px 10px;
}

h1 {
	font-size: 2.3rem;
}

section:after, article > header:after {
	width: calc(100% + 20px);
	left: -10px;
	height: 10px;
}

.menu_container {
	width: calc(100% - 20px);
	left: calc(-100vw);
}

.contain_header {
	padding: 23px 15px 23px 15px;
	width: calc(100% - 20px);
}





.intro_info {
	width: 100%;
	height: auto;
	position: relative;
	float: none;
}

#intro_info_big {
	width: 100%;
	margin-top: 50px;
}

.intro_info_textwrapper {
	width: 100%;
	float: none;
}

#intro_info_big .intro_info_textwrapper {
	width: 100%;
	float: none;
}

#home_featured_textwrapper {
	width: 100%;
	float: none;
}

#home_featured_img_container {
	padding: 15px;
	background-color: #fff;
	width: calc(100% - 30px);
	height: auto;
	float: none;
	margin-left: 0;
}

.transition_section_width {
	width: 95%;
}

.articlelisting {
	font-size: .7em;
	height: 200px;
}

.articlelisting h1 {
	padding-top: 90px;
}


/* Makes the work description table collapse on small screens */
.post_work_table h6 {
	font-size: .75rem;
	line-height: 1rem;
	font-weight: 0;
	margin: 0;
}

.post_work_table td:nth-of-type(1) {
	width: 100%;
	float: left;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

.post_work_table td:nth-of-type(2) {
	width: 100%;
	text-align: justify;
	margin-top: 2em;
	padding-left: 0px;
	padding-right: 0px;
}

.this_page_transition, .next_page_transition {
	margin-left: -10px;
}

#left_box_margin,
#right_box_margin,
#bottom_box_margin {
	width: 10px;
	height: calc(100%);
}
#right_box_margin {right: 0; top: 0;}
#bottom_box_margin {bottom: 0; height: 10px; width: 100%; left: 0;}
#left_box_margin {left: 0; top: 0;}
#header {
	height: 60px;
}

#footer_margin_top {
	height: 10px;
}

/* intro */
#intro_container {
	width: calc(100% + 20px);
	left: -10px;
}

#intro_txt {
	max-width: calc(100% - 20px);
	padding: 0 1.5rem;
}

.feature_container {
	width: calc(100vw - 20px);
	bottom: calc(-100vh + 70px);
	top: 0;
}

.display_feature {
	width: calc(100vw - 20px);
	height: calc(100vh - 70px);
	top: 0px;
	left: 0;
}

.display_feature_content_container {
	width: calc(100vw - 20px);
	height: auto;
	top: 0;
	left: 0;

	font-size: 5px;
}

.display_feature_content {
	height: calc(100vh - 70px);
}

.entry_heading_container {
	width: calc(100vw);
	height: calc(100vh);
}

.content_section, .widget-area {
	width: calc(100% - 60px);
	margin: 0 auto;
	position: relative;
}

.content_section_padding {
	padding: 20px 0;
}

#content_header_wrapper {
	height: calc(100vh);
	margin: 0px 0 0 -10px;
}

.display_feature_text {
	font-size: 200%;
}

#content_featured_image {
	top: 0;
}

.post_work_table {
	margin-bottom: 0px;
}


/* FIGURE WRAPPERRS (for wrapping captions etc) */
.centered_image, .wp-caption.aligncenter {
	margin-left: 0px;
	left: 0;
	max-width: none;
	width: calc(100% + 0px) !important; /* !important in order to override .wp-caption */
}

img.alignleft, img.alignright, img.aligncenter {
	float: none;
	margin-left: -20px;
	margin-right: 0;
	width: calc(100% + 40px);
	max-width: none;
}

.no_header_image .entry_heading_container {
	padding-bottom: 0px;
}

.noMobile {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	z-index: 100000;
	top:0;
	left: 0;
	display: none;
}

.noMobile p {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 75%;
	height: 15rem;
	text-align: center;
}






/* OTHER PROJECTS */
.other_pojects_2 {
	width: 100%;
	/*float: initial;*/
	/*display: block;*/
	/*min-width: 230px;*/
	/*height: calc(28rem / 2 - 1rem);*/
	/*margin: 2rem 0 0 0;*/
	height: 28rem;
}

.other_projects_text_wrapper h3 {
	font-size: 1.625rem;
}

/* The small projects */
.other_pojects_2 .other_projects_text_wrapper {
	padding: 1.5625rem;
	height: 34%;
}







@media (max-width: 390px) {
	.notification_container {
		position: fixed;
		width: calc(100% - 2rem);
		height: auto;
		text-align: left;
		right: 0px;
		top: calc(100vh - 7rem);
		z-index: 100;
		display: block;

		transition: all 500ms ease;
	}

	.notification {
		padding: 1.2rem 1.4rem;
		position: relative;
		height: auto;
		width: calc(100% - 2rem);
		color: #3e3e3e;
		background: rgba(255,255,255,0.95);
		box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	}
}

.notification h4 {
	margin: 0;
	font-weight: 500;
	font-size: 1rem;
}

.notification p {
	font-size: .8rem;
	padding: 0;
	margin: 2px 0 0 0;
}

.notification_x {
	position: absolute;
	top: 10px;
	right: 10px;
	width: .75rem;
	height: .75rem;
	font-size: .75rem;
	font-weight: initial;
}


/*--------------------------------------------------------------
# Feature slider
--------------------------------------------------------------*/
.featured_posts .contain {
	padding: 0;
}

/* Remove the background, as only a couple of pixels of it would be visible */
.featured_posts.filled {
	background-color: #fff;
}

.feature_background_container {
	height: calc(100vh - 60px - 10px);
	box-shadow: initial;
}

.feature_background_container_fixed {
	width: calc(100% - 20px); /* Excluding the white margins */
	position: fixed;
	top: calc(60px);
}

.feature_instance:first-of-type {
	/* 35vh = instance height */
	margin-top: calc((100vh - 60px - 10px)/2 - 35vh/2);
}

.feature_instance:last-of-type {
	/* 35vh = instance height */
	margin-bottom: calc((100vh - 60px - 10px)/2 - 35vh/2);
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.post_padding {
	padding: 20px;
}

.contain > h1 {
	margin-top: 0;
}