html {
	/*font-size: 1%;*/
}

.post_work_table td:nth-of-type(1) {
	width: 100%;
	min-width: 200px;
	float: left;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

.post_work_table td:nth-of-type(1) p {
	text-align: center;
}

.post_work_table td:nth-of-type(2) {
	width: 100%;
	text-align: justify;
	margin-top: 2em;
	padding-left: 0px;
	padding-right: 0px;
}


/*--------------------------------------------------------------
# Feature slider
--------------------------------------------------------------*/
.featured_posts .contain {
	padding: 0;
}

/* Remove the background, as only a couple of pixels of it would be visible */
.featured_posts.filled {
	background-color: #fff;
}

.feature_background_container {
	height: calc(100vh - 60px - 60px);
	box-shadow: initial;
}

.feature_background_container_fixed {
	width: calc(100% - 120px); /* Excluding the white margins */
	position: fixed;
	top: calc(60px);
}

.feature_instance:first-of-type {
	/* 35vh = instance height */
	margin-top: calc((100vh - 60px - 60px)/2 - 35vh/2);
}

.feature_instance:last-of-type {
	/* 35vh = instance height */
	margin-bottom: calc((100vh - 60px - 60px)/2 - 35vh/2);
}

